.note-input {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 150px;
  padding: 40px;
  width: calc(100vw - 80px);
  background-color: var(--accent-purple);
}

.sentence-input {
  margin-right: 30px;
}

.sentence-input-text-field {
  width: calc(60vw - 80px);
}

.quick-reactions {
  width: 35vw;
  margin-left: 10px;
  overflow: scroll;
  height: 100%;
  padding-left: 20px;
}

.quick-react-button {
  margin: 2px !important;
}

.quick-react-buttons {
  width: 35vw;
  overflow: scroll;
}

.quick-react-button-row {
  width: 35vw;
  overflow: scroll;
}