.lecture-view {
  background-color: white;
  height: 100vh;
}

.onboarding-content {
  padding: 40px;
  width: calc(100vw - 350px);
  height: calc(100vh - 80px);
}

.lecture-header {
  display: flex;
  background-color: var(--accent-purple);
  justify-content: space-between;
  padding: 15px;
  padding-left: 30px;
  align-items: center;
}

.lecture-header-right {
  display: flex;
  align-items: center;
  min-width: 50px;
}

.lecture-header-right-avatar {
  margin-left: 20px;
  margin-right: 15px;
}

.lecture-header-timer {
  display: flex;
  align-items: center;
  min-width: 50px;
}

